<nav class="side-bar">
    <div class="marker-link">
        <a href="">HOME</a>
        <div class="marker"></div>
    </div>
    
    <a href=""><div class="marker"></div>ITEM 1</a>
    <a href=""><div class="marker"></div>ITEM 2</a>
    <a href=""><div class="marker"></div>ITEM 3</a>
    <a href=""><div class="marker"></div>ITEM 4</a>
    <a href=""><div class="marker"></div>ITEM 5</a>
</nav> 
<div class="contacts">
    <a href=""><div class="marker"></div>SUPPORT</a>
    <a href=""><div class="marker"></div>CONTACT</a>
</div>